@media screen and (max-width:430px) {
    .navbar {
        flex-direction: column;
        padding: 0 10px;


    }

    .nav-logo {
        width: 100%;
        text-align: center;

    }

    .fa-gamepad {
        margin-right: 20px;
    }

    .nav-item {

        
        flex-direction: column;
        
        align-items: center;
        width: 100%;
       
        gap: 20px;
        padding-bottom: 30px;
    }

    #follow {
        width: 80%;
        text-align: center;
        margin: auto;
    }
    /* banner-start */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-item{
        width: 90%;
        padding: 20px;
        margin-top: 20px;
       
       
    }
    .banner-image {
        width: 100%;
        padding: 0;
        margin-top: 20px;
       
    }
    /* banner-ends */
    /* aniversary satrts */
    .aniversary-container{
        padding: 90px 0;
        flex-direction: column;
    }
    .aniversary-item{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .aniversary-image{
        width: 100%;
        position: relative;
    }
    .aniversary-image #image-1{
        width: 60%;
        padding-left: 100px;
      }
      .aniversary-image #image-2{
        position: absolute;
         width: 120px;
         height: 140px;
         
         top:150px;
         left: 50px;
      }
      /* aniversary ends */
      /* footer-starts */
    .footer-content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
    }
    .terms{
        display: grid;
        grid-template-columns:repeat(2,1fr) ;
        gap: 10px;
    }
}

@media screen and (min-width:430px) and (max-width:770px) {
    .navbar {
        padding: 0 30px;
        flex-direction: column;
    }

    .nav-logo {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
     .nav-item{
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
        justify-content: center;
     }
  /* banner-starts */
  .banner-container{
    flex-direction: column-reverse;

}
.banner-item{
    display: flex;
    flex-direction: column;
    width:90%;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
   
   
}
.banner-image {
    width: 80%;
    padding: 0;
    margin: 0 auto;
    margin-top: 20px ;
   
}
/* banner ends */
/* aniversary-starts */
.aniversary-container{
    padding: 90px 0;
    flex-direction: column;
}
.aniversary-item{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.aniversary-image{
    width: 100%;
    position: relative;
}
.aniversary-image #image-1{
    width: 60%;
    padding-left: 200px;
  }
  .aniversary-image #image-2{
    position: absolute;
     width: 220px;
     height: 270px;
     
     top:270px;
     left: 100px;
  }
}